<br /><br /><br />

<div style="text-align:center;">
  <h4>JOAN CURRIE WEBSITES</h4>
  <h4 style="border-bottom: 1px solid grey;"></h4>
</div>
<table>
  <tr>
    <td style="padding: 50px;"><%= link_to image_tag("bookmarks.png") %></td>  
    <td style="padding: 50px;"><%= link_to image_tag("smilethreadly.png") %></td>  
    <td style="padding: 50px;"><%= link_to image_tag("image1.png") %></td>
  </tr>
  <tr>
    <td style="padding-right: 25px; padding-left: 50px;"><a href="https://github.com/JECurrie/bookmarks"><span class="github">GITHUB</span></a> <a href="https://bookmarks.herokuapp.com/"> <span class="github">DEMO</span></a></td>
    <td style="padding-right: 25px; padding-left: 50px;"><a href="https://github.com/JECurrie/threadly"><span class="github">GITHUB</span></a> <a href="https://smilethreadly.herokuapp.com/"> <span class="github">DEMO</span></a></td>
    <td style="padding-right: 25px; padding-left: 50px;"><a href="https://github.com/JECurrie/eventz"><span class="github">GITHUB</span></a> <a href="https://k-w-snap.herokuapp.com/"> <span class="github">DEMO</span></a></td>
    </tr>
</table>
<table>
  <tr>
    <td style="padding: 50px;"><%= link_to image_tag("image2.png") %></td>
    <td style="padding: 50px;"><%= link_to image_tag("image3.png") %></td>
    <td style="padding: 50px;"><%= link_to image_tag("climate.png") %></td>
  </tr>
  <tr>
    <td style="padding-right: 25px; padding-left: 50px;"><a href="https://github.com/JECurrie/myozone"><span class="github">GITHUB</span></a> <a href="https://my-ozone.herokuapp.com/"> <span class="github">DEMO</span></a></td>    
    <td style="padding-right: 25px; padding-left: 50px;"><a href=""><span class="github">GITHUB</span></a> <a href="https://climate-blog.herokuapp.com/"><span class="github">DEMO</span></a></td>
  <td style="padding-right: 25px; padding-left: 50px;"><a href="https://github.com/JECurrie/flixs"><span class="github">GITHUB</span></a> <span class="github">DEMO</span></td>

  </tr>
  
</table>